
body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    h1 {
        font-style: 36px;
        text-transform: uppercase;
        color: #7a7676;
        text-align: center;
        margin: 30px;
    }
    .photo {
        float: left;
        width: 33.3333%;
        padding: 10px;
        box-sizing: border-box;
        img {
            display: block;
            max-width: 100%;
            height: auto;
            padding: 10px;
            background: #eee;
            box-sizing: border-box;
        }
        a {
            position: relative;
        }
        a:hover {
            display: block;
            opacity: 0.5;
        }
        a:after {
            content: '';
            background: transparent url('../../img/icons/eye-icon.png') no-repeat center;            
            width: 52px;
            height: 35px;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            visibility: hidden;
        }
        &:hover {
            a:after {
                visibility: visible;
            }
        }
        figcaption {
            color: #645e5e;
            font-weight: 500;
            text-align: center;
            margin-top: 20px;
        }
    }
    #gallary {
        margin-bottom: 50px;
        &:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
        }
    }
}